<!DOCTYPE html>
<html>
    <head>
        <title>Apollo Mail: Your own business email client</title>
    </head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <body>
        <div class="container">
          