<% include ./partials/header.ejs %>
    <div class="page authenticate">
        <div class="logo-area">
            <img class="logo" src="/assets/apollo.png" />
        </div>
        <div class="form-area">
            <h2>Sign in to your Apollo ID</h2>
            <p>Don't have one? <a href="/register">Let's get it created</a></p>
            <form method="POST" action='/login'>
                <input type="email" name="username" placeholder="EMAIL" />
                <input type="password" name="password" placeholder="PASSWORD" />
                <button class="btn-btn-large btn-primary">Sign In</button>                  
            </form>
            <p>Apollo ID manages your connected email address. Link your email account in the next step.</p>
        </div>
    </div>
<% include ./partials/footer.ejs %>



