<% include ./partials/header.ejs %>
    <div class="page authenticate">
        <div class="logo-area">
            <img class="logo" src="/assets/apollo.png" />
        </div>
        <div class="form-area">
            <h2>Create an Apollo ID</h2>
            <p>Your Apollo ID manages your email address. Add your email account after registering.</p>
            <form method='POST' action='/register'>
                <div class="form-group">
                    <input class="username" type="text" name="firstname" placeholder="FIRST NAME" />
                    <input class="username" type="text" name="lastname" placeholder="LAST NAME" />
                </div>
                <div class="form-group">
                    <input class="full_length" type="email" name="username" placeholder="EMAIL" />
                </div>
                <div class="form-group">
                    <input class="full_length" type="password" name="password" placeholder="PASSWORD" />
                </div>
                <button class="btn btn-primary">Create my Apollo ID</button>                  
            </form>
            <p>Already have Apollo ID?<a href="/login">Sign In</a></p>
            <p>By Creating an account you agree to Apollo Terms of Service and Privacy Policy.</p>
        </div>
    </div>
<% include ./partials/footer.ejs %>


