.page {
    background-color: #F3F3F3;
    flex: 1;
  }

.page.authenticate{
    text-align: center;
    margin: 100px auto;
    flex: 1;
    display: flex;
    border: 1px solid gray;
    width: 70%;

}

.logo-area{
    background: #4ECDC4;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #556270, #4ECDC4);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #556270, #4ECDC4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 40%;
}  

.form-area{
  width: 60%;
  margin: 10%;
}

.logo{
    width: 40%;
    margin-top: 75px;
}

.username{
    margin: 0;
    padding: 0;
}

.full_length{
  width: 100%;
}